
#b_calendarPopup{background:#fff;border-radius:10px;-moz-border-radius:10px;padding:1px;box-shadow: 5px 5px 5px #555555;border-color:#E6EDF6 !important;font-size:12px;}
#b_calendarPopup th, #b_calendarPopup td{text-align:right;padding:5px 7px;}
.b_calSelected{background-color:#2971bb;}
.b_calSelected a{color:#FFFFFF;}
.b_calPast{text-decoration:line-through;}
.b_calWeekend{background-color:#E5E6E6;}
.b_caltable{background-color:#F2F2F2;}
.b_calHeader, .b_calClose{background-color:#fff;}
.b_calHeader select {font-size:12px;padding:0px;font-weight:bold;color:#4F4F4F;}
.b_calDayNames{color:#FFF;}
.b_calDayNames th{background-color:#767778;border-bottom:thin solid #F3F6F8;font-weight:bold;}
.b_popup{display:none;position:relative;z-index:1000;}
#b_calendarPopup a{font-weight:bold;}
.b_popupInner{padding:8px;}
.comboFechas{float:left;font-size:12px;margin-bottom:10px;margin-right:5px;padding:3px;}
.b_seeThrough{float:left;margin-top:-4px;}
