body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset, img {
	border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal;
}
ol, ul {
	list-style:none;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
q:before, q:after {
	content:'';
}
abbr, acronym {
	border:0;
}
strong {
	font-weight:bold;
}
p {
	margin-bottom:10px;
}
a {
	text-decoration:none;
	color:#3A6394;
}
a:hover {
	background-color:#acc3de;
	color:#FFF;
}
html {
	background-color:#1f344c;
	/*background:#FFFFFF url(../default/images/fondoarriba.png) repeat-x scroll 0 0;*/
}
body {
	text-align:left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#444;
	background:transparent url(../default/images/fondo.png) repeat-y scroll center;
}
h1, h2 {
	font-weight:bold;
}
h1 {
	font-size:22px;
	color:#1f344c;
	margin-bottom:3px;
}
.tituloColumna {
	font-weight:bold;
	font-size:22px;
	color:#1f344c;
	margin-bottom:3px;
}
h2 {
	font-size:18px;
	color:#444444;
	margin-bottom:7px;
}
#external {
	/*background:transparent url(../default/images/fondobarras.png) no-repeat scroll center top;*/
}
#container {
	height:auto;
	margin:0px auto;
	overflow:hidden;
	width:979px;
}
.floatLeft {
	float:left;
}
.floatRight {
	float:right;
}
#header {
	width:100%;
	float:left;
}
#barraSuperior {
	width:100%;
	background-color:#1f344c;
	overflow:hidden;
}
#logo {
	width:500px;
	float:left;
}
#logo a:hover {
	background-color:#000;
}
#logo img {
	margin:5px;
}
#idiomas {
	float:right;
	margin:20px 15px 0 0;
	text-align:right;
	width:300px;
}
#contenido {
	padding:15px;
	width:949px;
	float:left;
}
#migas {
	margin:10px 0 0 15px;
	float:left;
	width:940px;
}
#dobleColumna {
	width:600px;
	float:left;
}
/*.columnaAncha{width:670px !important;}*/
.columnaAncha {
	width:650px !important;
}
.modulo600 {
	width:600px;
	float:left;
	margin-bottom:10px;
	text-align:justify;
	background-color:#A4C5DD;
	padding:10px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
}
.modulo6001 {
	width:590px;
	float:left;
	margin-bottom:10px;
	text-align:justify;
	background-color:#A4C5DD;
	padding:10px;
	padding-bottom:0px;
	padding-right:0px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
}
#columnaSimple {
	width:300px;
	float:right;
}
.separacionColumna {
	margin-left:30px;
}
.bloqueLateral {
	margin-bottom:20px;
	border-bottom-color:#036;
	overflow:hidden;
}
.bloqueLateral ul {
	margin-bottom:10px;
	border-bottom-color:#036;
}
.fondoAzul {
	overflow:hidden;
	background-color:#EEF5FA;
	border:1px solid #C9E2F5;
	padding:5px;
}
.tituloCercania {
	font-size:16px;
	font-weight:bold;
	margin:5px 0;
}
#footer {
	margin-top:30px;
	padding:10px 0 5px 0;
	background-color:#EBEBEB;
	overflow:hidden;
	width:100%;
}
#footer a {
	font-weight:bold;
}
.footerIzq {
	float:left;
	margin-left:20px;
}
#preguntasFrecuentes {
	font-size:12px;
	font-weight:bold;
	list-style:square url(../default/images/iconoFlecha.png) inside;
}
#preguntasFrecuentes li {
	margin:3px 0;
}
#preguntasFrecuentes a {
	color:#0F3D93;
}
#preguntasFrecuentes a:hover {
	color:#FFF;
}
.pregunta {
	font-size:14px;
	font-weight:bold;
	margin-top:15px;
}
.respuesta {
	margin-bottom:20px;
}
.pregunta img, .respuesta img {
	float:left;
	margin-right:10px;
}
#contactar {
	margin:25px 0 10px 0;
	font-size:14px;
	font-weight:bold;
}
#contactar li {
	clear:both;
	margin-bottom:12px;
}
#contactar label {
	display:block;
	float:left;
	margin-right:10px;
	text-align:right;
	width:90px;
}
#contactar .campoTexto {
	background:#EEF5FA none repeat scroll 0 0;
	border:1px solid #C9E2F5;
	color:#333333;
	padding:5px;
	width:220px;
}
#buscaHoteles {
	width:278px;
	padding:10px;
	overflow:hidden;
	background-color:#EEF5FA;
	border:1px solid #C9E2F5;
	font-size:16px;
	font-weight:bold;
}
.columnaEstrecha {
	width:240px !important;
}
.buscadorEstrecho {
	width:218px !important;
}
#buscaHoteles li {
	clear:both;
}
#b_destination, #b_destination2 {
	width:200px;
	font-size:14px;
	font-weight:bold;
	padding:5px;
	margin-bottom:10px;
}
#b_calendarPopup {
	border-color:#E6EDF6 !important;
	font-size:14px;
}
#b_calendarPopup th, #b_calendarPopup td {
	text-align:right;
	padding:5px 7px;
}
.b_calSelected {
	background-color:#acc3de;
}
.b_calSelected a {
	color:#FFFFFF;
}
.b_calPast {
	text-decoration:line-through;
}
.b_calWeekend {
	background-color:#C9E2F5;
}
.b_caltable {
	background-color:#EEF5FA;
}
.b_calHeader, .b_calClose {
	background-color:#FFF;
}
.b_calDayNames {
	color:#FFF;
}
.b_calDayNames th {
	background-color:#1f344c;
	border-bottom:thin solid #333;
	font-weight:bold;
}
.b_popup {
	display:none;
	position:relative;
	z-index:1000;
}
#b_calendarPopup a {
	font-weight:bold;
}
.b_popupInner {
	background-color:#FFF;
	border:1px solid #003580;
	padding:8px;
}
.comboFechas {
	float:left;
	font-size:14px;
	margin-bottom:10px;
	margin-right:5px;
	padding:3px;
}
.b_seeThrough {
	float:left;
	margin-top:-4px;
}
.b_submitButton {
	background-color:#1f344c;
	color:#FFFFFF;
	border:1px solid #FFF;
	font-size:16px;
	font-weight:bold;
	height:30px;
	margin-top:10px;
	width:215px;
}
#resultadosEncontrados p {
	font-size:14px;
	font-weight:bold;
}
#resultadosEncontrados li {
	padding:5px;
	margin:8px 0;
	font-size:18px;
	background-color:#F0F8F9;
}
.mejorResultado {
	font-size:20px;
	font-weight:bold;
}
#infoHoteles {
	font-weight:bold;
	margin-bottom:5px;
	margin-top:15px;
	overflow:auto;
	padding:5px;
	width:660px;
	text-align:left;
}
.mensajeError {
	color:#B30000;
	float:left;
	font-size:14px;
	margin-bottom:0;
	margin-left:10px;
	line-height:20px;
	width:490px;
}
.mensajeCorrecto {
	color:#30B322;
	float:left;
	font-size:14px;
	line-height:20px;
	margin-bottom:0;
	margin-left:10px;
	width:450px;
}
.botonReservar {
	background-color:#30B322;
	color:#FFFFFF;
	float:right;
	font-size:20px;
	height:33px;
	width:130px;
	font-weight:normal;
}
.porqueReservar {
	list-style-type:disc;
	list-style-position:inside;
	font-size:14px;
	font-weight:bold;
}
.tituloDestino {
	float:left;
	background-color:#1f344c;
	width:285px;
}
.tituloDestino a {
	color:#FFF;
}
.tituloDestino h2 {
	color:#FFFFFF;
	margin:5px;
}
.destinoMasBuscado {
	border:1px solid #1f344c;
	float:left;
	margin:0 12px 12px 0;
	width:285px;
}
.destinoMasBuscado ul {
	float:left;
	margin:5px;
	width:275px;
	padding:0;
	font-family:Tahoma, Geneva, sans-serif;
}
.destinoMasBuscado li {
	width:275px;
	float:left;
	padding:0;
}
#listadoOtrosDestinos, #listadoOtrosDestinos ul {
	width:100%;
}
#listadoOtrosDestinos img {
	float:left;
	border:1px solid #1f344c;
	margin-right:5px;
	width:130px;
	height:100px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
}
#listadoOtrosDestinos li {
	font-family:Verdana, Geneva, sans-serif;
	width:273px;
	margin:0 10px 10px 0;
	float:left;
	font-weight:bold;
	border:groove;
	border-width:medium;
	border-color:#356FB5;
	padding:5px;
}
#hoteles {
	margin-bottom:20px;
	overflow:auto;
}
h3 {
	font-size:16px;
	font-weight:bold;
}
.modulo600 h3 {
	padding-top:10px;
}
/*#hoteles li{border-top:1px solid #1f344c;width:100%;overflow:hidden;padding-top:12px;margin-bottom:0px;}*/
#hoteles li {
	border-top:1px solid #1f344c;
	width:90%;
	overflow:hidden;
	padding-top:12px;
	margin-bottom:0px;
}
#tituloOrdenacion {
	float:left;
	width:510px;
}
.marginTop10 {
	margin-top:10px;
}
#barraOrdenacion {
	float:left;
	font-size:16px;
	font-weight:bold;
	width:100%;
	margin-bottom:5px;
}
.fotoHotel {
	float:left;
	margin-right:10px;
}
.fotoHotel img {
	width:150px;
	height:100px;
	border:2px solid #C9E2F5;
}
.hotelText {
	float:left;
	width:365px;
	text-align:justify;
}
.ancho {
	width:425px !important;
}
.hotelExtra {
	width:87px;
	margin-left:15px;
	float:left;
	text-align:center;
}
.hotelValoracion {
	margin-bottom:8px;
}
.verPrecios a:hover {
	background-color:#FFFFFF;
	cursor:pointer;
}
.imagenValoracion {
	background:#FEBA02 url(../default/images/fondoBarraValoracion.png) no-repeat scroll 0 0;
}
.tituloHotel {
	width:100%;
	font-weight:bold;
}
.tituloHotel a {
	font-size:18px;
}
/*.tituloPagina{width:100%;margin-bottom:7px;float:left;}*/
/*.tituloPagina{width:90%;margin-bottom:7px;float:left;}*/
.tituloPagina {
	width:98.5%;
	margin-bottom:7px;
	float:left;
}
.direccion {
	font-style:italic;
	font-weight:bold;
}
/*.valoracion{width:200px; text-align:center;}*/
.valoracion {
	width:188px;
	text-align:left;
}
.numeroNota {
	color:#356FB5;
	font-size:24px;
	font-weight:bold;
}
.descripcion {
	float:left;
	width:100%;
	margin:5px 0;
}
#paginacion {
	width:600px;
	float:left;
}
.bloquePaginacion {
	width:200px;
	text-align:center;
	float:left;
	margin-bottom:20px;
}
#hoteles h2 {
	float:left;
}
.tablaHoteles {
	width:100%;
	font-size:12px;
	float:left;
	margin-bottom:15px;
	margin-top:10px;
}
.tablaHoteles th {
	color:#006699;
	background-color:#EEF5FA;
	font-weight:bold;
	font-style:italic;
	padding:2px;
}
.separacion td {
	border-bottom:1px solid #C9E2F5;
}
.tablaHoteles td {
	color:#4F6B72;
	padding:2px;
}
.hotelPersonas {
	width:80px;
	text-align:center;
}
.hotelDisponibilidad {
	width:130px;
	text-align:center;
}
.una {
	font-weight:bold;
	color:#990000;
}
.pocas {
	color:#990000;
}
.buena {
	color:#006633;
}
.precioTarifa {
	text-decoration:line-through;
}
.precioOferta {
	font-weight:bold;
	color:#000;
	font-size:16px;
}
.hotelPrecio {
	width:90px;
	text-align:right;
}
.hotelTipo {
	width:300px;
	text-align:left;
}
.hotelHabitaciones {
	width:100px;
	text-align:center;
}
#infoHoteles #buscaHoteles {
	border:none;
	margin:0 0 0 90px;
}
#filtrarResultados, #buscarPorNombre {
	background-color:#EEF5FA;
	border:1px solid #C9E2F5;
	overflow:hidden;
	padding:10px;
}
#filtrarResultados label, #buscarPorNombre label {
	width:100%;
	float:left;
	font-size:16px;
	font-weight:bold;
	margin-bottom:5px;
}
.comboAvanzadas, .comboTipoHabitacion, .comboIdiomas {
	font-size:14px;
	margin-bottom:10px;
	margin-right:5px;
	padding:3px;
}
.comboAvanzadas {
	width:180px;
}
.comboIdiomas {
	width:120px;
	float:left;
	margin-left:5px;
}
.bandera {
	float:left;
	margin-right:5px;
}
#ordenHoteles {
	width:787px;
	border-top:1px solid #C9E2F5;
	border-bottom:1px solid #C9E2F5;
	padding:10px;
	color:#006699;
	margin-bottom:10px;
	font-size:14px;
}
.imagenHotel {
	float:left;
	margin-right:5px;
}
.imagenHotel img {
	border:1px solid #444;
	max-width:215px;
	max-height:188px;
}
.textoFotos {
	font-size:16px;
	font-weight:bold;
	margin-bottom:10px;
	margin-top:-5px;
	text-align:right;
	width:100%;
}
/*.descripcionHotel{margin-bottom:15px;}*/
.descripcionHotel {
	margin-bottom:15px;
	width:575px;
}
.descripcionHotel p {
	margin-bottom:10px;
}
.imagenesHotel {
	width:100%;
	overflow:auto;
}
.informacionHabitaciones {
	background-color:#EEF5FA;
	border:1px solid #C9E2F5;
	padding:5px;
	margin-bottom:15px;
}
.bloqueColumna h3 {
	margin-bottom:10px;
	margin-left:10px;
	margin-top:10px;
}
.comboPrecio {
	color:#4F6B72;
	font-size:14px;
	width:70px;
	font-weight:bold;
}
.tituloSeccion {
	border-bottom-color:#C9E2F5;
	border-bottom-style:solid;
	border-width:1px;
	font-size:18px;
	background-color:#EEF5FA;
	padding:2px;
	padding-bottom:4px;
}
.hotelesCercanos li {
	float:left;
	margin-bottom:10px;
	width:100%;
}
.hotelesCercanos .miniImagen {
	border:1px solid #444;
	float:left;
	margin-right:8px;
}
.hotelesCercanos a {
	font-weight:bold;
}
#lejania {
	position:relative;
	margin-bottom:10px;
	margin-top:10px;
	border:1px solid #C9E2F5;
	padding:5px;
	display:none;
}
.imagenesHabitacion {
	clear:both;
	overflow:auto;
	width:100%;
	margin-bottom:10px;
}
.imagenesHabitacion li {
	float:left;
	margin-right:10px;
}
.imagenesHabitacion img {
	border:2px solid #C9E2F5;
}
#busquedaHotel .cajaBusqueda {
	width:115px;
	margin-bottom:10px;
	margin-left:10px;
}
.tooltip, .preview, .screenshot {
	cursor:pointer;
}
#tooltip, #tooltip2 {
	width: 250px;
}
#tooltip, #tooltip2, #preview {
	color:#dddddd;
	background:#222222;
	border: 1px solid #333333;
	padding:1px;
	text-align:left;
	display:none;
}
#imagenesHotelMini li {
	float:left;
	height:64px;
	text-align:right;
	width:64px;
}
#imagenesHotelMicro li {
	float:left;
	height:48px;
	text-align:right;
	width:48px;
}
#imagenesHotelNano li {
	float:left;
	height:40px;
	text-align:right;
	width:40px;
}
#imagenesHotelMicro img, #imagenesHotelMini img, #imagenesHotelNano img {
	border:1px solid #444;
}
.textoGratis {
	font-weight:bold;
	color:#0082a0;
}
#formularioHotelCentro {
	background-color:#EEF5FA;
	padding:7px 0 7px 3px;
}
#formularioHotel .tresColumnas {
	width:222px;
	float:left;
}
#formularioHotel label {
	font-weight:bold;
}
#formularioHotel li {
	float:left;
	width:220px;
}
#formularioHotel .b_submitButton {
	width:220px;
	margin-left:0px;
	font-size:14px;
}
